


nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}

a {
    font-size: 1em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
    padding: 10px;
}

h1 {
    margin: 50px 0;
    text-align: center;
    color: steelblue;
}

h2 {
    text-align: center;
    color: steelblue;
}

img {
    width: 30%;
    display: block;
    margin: 50px auto;
    border: 4px double steelblue;
    padding: 25px;
}

p {
    text-align: center;
    padding: 10px;
}

#active {
    background-color: white;
    color: steelblue;
}

a:hover {
    background-color: white;
    color: steelblue;
}

footer p {
    padding: 25px;
    color: white;
    font-size: 20px;
    margin: 20px auto;
}