@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Hind+Guntur&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: "Hind Guntur", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #554348;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #554348;
    color: #93B7BE;
}


#main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    background-color: #747578;
}

.main-h {
    grid-column: 1/11;
    grid-row: 1/2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.main-p {
    grid-column: 2/5;
    grid-row: 2/7
}

#main-img {
    grid-column: 7/10;
    height: 50%;
    width: auto; 
}



#secondary {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    height: 900px;
}

.sec-h {
    grid-column: 1/11;
    grid-row: 1/2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

#sec-img {
    grid-column: 2/5;
    grid-row: 2/7;
    width: auto;
    height: 50%;
}

.sec-p {
    grid-column: 7/10;
    grid-row: 2/7;
}

#examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 30px;
    justify-content: center;
    background-color: #747578;
    height: 650px;
}

.web {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    justify-content: center;
}

.web-h {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.web-img {
    grid-column: 2/5;
    grid-row: 2/3;
    width: 600px;
    
}

.web-button {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    color: #747578;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.web-button:hover {
    background-color: #554348;
    color: #93B7BE;
}

.python {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    justify-content: center;
    
}

.py-h {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.py-img {
    grid-column: 2/5;
    grid-row: 2/3;
    width: 600px;

}

.py-button {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
    color: #747578;
}

.py-button:hover {
    background-color: #554348;
    color: #93B7BE;
}

footer {
    background-color: #D4F5F5;
    color: #554348;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #554348;
    text-decoration: none;
}

footer a:hover {
    color: #93B7BE;
}

footer p a:hover {
    text-decoration: underline;
}

.linkedin {
    max-height: 50px;
    max-width: 50px;
}

.github {
    max-height: 50px;
    max-width: 50px;
}

#background {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: #747578;
    max-width: 1600px;
    padding-bottom: 40px;
}

/* Web Dev Specific Elements */

#top1 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.top1-img1 {
    grid-column: 2/3;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.top1-h {
    grid-column: 3/10;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.top1-img2 {
    grid-column: 10/11;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.top1-p {
    grid-column: 2/11;
    grid-row: 2/3;
}

.example1 {
    grid-column: 2/5;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.example2 {
    grid-column: 6/11;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 30px;
}

.example3 {
    grid-column: 2/5;
    grid-row: 5/11;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.example4 {
    grid-column: 6/11;
    grid-row: 5/11;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.example-h1 {
    grid-column: 1/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;

}

.example-img1 {
    grid-column: 2/8;
    width: 400px;
    border: 10px solid #554348;
    transition: transform .5s;box-shadow: 5px 5px 10px black;
}

.example-b1 {
    grid-column: 4/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-h2 {
    grid-column: 1/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;

}

.example-img2 {
    grid-column: 3/8;
    width: 350px;
    border: 10px solid #554348;
    transition: transform .5s;box-shadow: 5px 5px 10px black;
}

.example-b2 {
    grid-column: 4/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-h3 {
    grid-column: 1/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.example-img3 {
    grid-column: 2/8;
    width: 400px;
    border: 10px solid #554348;
    transition: transform .5s;box-shadow: 5px 5px 10px black;
}

.example-b3 {
    grid-column: 4/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-h4 {
    grid-column: 1/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.example-img4 {
    grid-column: 3/8;
    width: 400px;
    border: 10px solid #554348;
    transition: transform .5s;box-shadow: 5px 5px 10px black;
    margin-left: -25px;
}

.example-b4 {
    grid-column: 4/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-b1:hover {
    background-color: #554348;
    color: #93B7BE;
}

.example-b2:hover {
    background-color: #554348;
    color: #93B7BE;
}

.example-b3:hover {
    background-color: #554348;
    color: #93B7BE;
}

.example-b4:hover {
    background-color: #554348;
    color: #93B7BE;
}

/* Python Project specific elements*/

#top2 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.top2-img1 {
    grid-column: 2/3;
    grid-row: 1/4;
    
    margin-top: 100px;
}

.top2-h {
    grid-column: 4/11;
    grid-row: 1/2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.top2-img2 {
    grid-column: 10/11;
    grid-row: 1/2;
    height: 30px;
    margin-top: 40px;
    margin-right: 60px;
    border-radius: 5px;
}

.top2-p {
    grid-column: 4/11;
    grid-row: 2/3;
}

.example-top {
    grid-column: 1/12;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    margin-bottom: 30px;
}

.example-top-h {
    grid-column: 2/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.example-top-img {
    grid-column: 2/9;
    margin-left: 1%;
}

.example-top-b {
    grid-column: 5/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-top-b:hover {
    background-color: #554348;
    color: #93B7BE;
}

.example-bot {
    grid-column: 1/12;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
}

.example-bot-h {
    grid-column: 2/9;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.example-bot-img {
    grid-column: 1/10;
    height: 900px;
    margin-left: 8%;
}

.example-bot-b {
    grid-column: 5/6;
    text-align: center;
    background-color: #93B7BE;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #747578;
}

.example-bot-b:hover {
    background-color: #554348;
    color: #93B7BE;
}